<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="/css/index.css" />
</head>
<body>
  <h1>Welcome to the Home Page</h1>
  <h2>Orders</h2>
  <div id="orders-fields" class="data-fields"></div>
  <hr />
  <h2>Transactions</h2>
  <div id="transactions-fields" class="data-fields"></div>
  <hr />
  <button id="match-button">Match</button>
  <hr />
  <div id="data-fields" class="data-fields"></div>
  <div class="container">
    <div class="form-fields">
      <%- include('orderForm') %>
      <%- include('transactionForm') %>
    </div>
  </div>
</body>
<script src="/js/index.js"></script>
</html>
