<form id="order-form">
  <h2>Order Form</h2>
  <textarea name="orders"></textarea>
  <hr />
  <button type="submit">Add orders</button>
  <button id="reset-orders" type="button">Reset Orders</button>
</form>
