<form id="transaction-form">
  <h2>Transaction Form</h2>
  <textarea name="transactions"></textarea>
  <hr />
  <button type="submit">Add transactions</button>
  <button id="reset-transactions" type="button">Reset Transactions</button>
</form>
